body {
    width: 1366px;
    margin: auto; /*This is to center all the body content in the center of the screen no matter what size the window is.*/
    background-color: black;
}


/*SECTION 1 BEGINS HERE--------------------------------------------------------------------------------------------------*/

.sect_1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0;
    height: 510px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 120px;
    color: white;
}

header {
    font-size: 24px;
    font-weight: 950;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 120px;
    white-space: nowrap;
}

nav {
    font-size: 18px;
    font-weight: 100;
}

a:link, a:visited, a:hover, a:active {
    color: rgba(255, 255, 255, 0.800);
    text-decoration: none;
    margin-left: 20px;
}

.awesome_left {
    display: flex;
    flex-direction: column;
    height: 300;
}

.awesome {
    display: flex;
    gap: 30px;
}

.web_awe {
    margin: 0;
    font-size: 48px;
    font-weight: 950;
}

.awe_text {
    margin: 0;
    font-size: 18px;
    vertical-align: text-top;
    color: rgba(255, 255, 255, 0.800);
}

.button_1 {
    background-color: rgb(10, 120, 255);
    margin-top: 10px;
    height: 40px;
    width: 130px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    border-radius: 8px; /*This is to round off the edges*/
    /*box-shadow: 0, 0;*/
    border: none;
}

.awesome_right {
    display: flex;
}


/*SECTION 2 BEGINS HERE--------------------------------------------------------------------------------------------------*/

.sect_2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    height: 510px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: black;
}

.random_text {
    margin: 60px;
    font-size: 36px;
    font-weight: 950;
    color: #1F2937;
    text-align: center;
}

.random_boxes {
    display: flex;
    padding-left: 130px;
    padding-right: 130px;
    justify-content: space-between;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 160px;
    gap: 10px;
}

.box1_pic, .box2_pic, .box3_pic, .box4_pic {
    height: 150px;
    width: 150px;
    background-color: white;
    border: solid; /*This is to make the border color ONE-TONE instead of the default two-toned color scheme*/
    border-radius: 12px;
    border-width: 5px;
    border-color: rgb(10, 120, 255);
}

.box1_text, .box2_text, .box3_text, .box4_text {
    text-align: center;
    color: rgb(70, 70, 70);
}


/*SECTION 3 BEGINS HERE--------------------------------------------------------------------------------------------------*/

.sect_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    margin: 0;
    height: 510px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: black;
}

.quote {
    padding-left: 115px;
    padding-right: 115px;
    
}

.quote_text {
    font-size: 36px;
    font-style: italic;
    text-align: inherit;
    color: rgb(70, 70, 70);
}

.thor_text {
    font-size: 24px;
    font-weight: 950;
    text-align: end;
}


/*SECTION 4 BEGINS HERE--------------------------------------------------------------------------------------------------*/

.sect_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 0;
    height: 360px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

.blue_box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 120, 255);
    border-radius: 8px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.text_big {
    font-size: 24px;
    font-weight: 900;
}

.text_small {
    font-size: 18px;
}

.button_2 {
    background-color: rgb(10, 120, 255);
    margin-top: 10px;
    height: 40px;
    width: 130px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 8px;
}

/*SECTION 5 BEGINS HERE--------------------------------------------------------------------------------------------------*/

.sect_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    margin: 0;
    height: 150px;
    padding-left: 150px;
    padding-right: 150px;
    color: rgba(255, 255, 255, 0.800);
    text-align: center;
    font-weight: 900;
}
